.login-page {
  display: flex;
  height: 100vh;
}

.login-left {
  flex: 1;
  background: linear-gradient(135deg, #4a90e2, #145da0);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 80%;
  max-width: 400px;
}

.error-text {
  color: red;
  margin-bottom: 10px;
}

button {
  background: #4a90e2;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  cursor: pointer;
}
